
#set($page_title="用户列表")

<div id="app" style='margin:50px auto;'>

	<h4 id="search_row"></h4><br>
	<div class="row">
		<div class="col-xs-8"><input type="text" class="form-control" id='select' placeholder="请输入用户名称"></div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-blue" id="J_select">查询</button>&nbsp;
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUserModal">添加新用户</button>
		</div>
	</div>
	<br><br>



	<table class="table table-bordered table-hover table-striped">
        <caption class="text-left"><h4>用户信息</h4></caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>IP</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-bind:id="item.id" v-for="(item,index) in peps">
            <td id="rowIndex-{{index}}">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.password}}</td>
            <td>{{item.ipAddr}} <small></small><button type="button" class="btn btn-blue btn-xs J_getIpAddr" v-bind:ip="item.ipAddr">查</button></td>
            <td>
            	<button type="button" class="btn btn-blue btn-xs J_edit" v-bind:id="item.id">编辑</button>
            	<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" @click="setDeleteInfo(index,item.id,item.name)">删除</button>
            </td>
        </tr>
        <tr v-show="peps.length!=0">
            <td colspan="5" class="text-right"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" @click="setDeleteInfo('all',item.id,'全部信息')">删除全部</button></td>
        </tr>
        <tr v-show="peps.length==0">
            <td colspan="5" class="text-center">暂无信息</td>
        </tr>
        </tbody>
    </table>




    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" data-index="{{nowIndex}}" data-id="{{nowUserID}}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">确认要删除 {{nowUsername}} 吗?</h4>
                </div>
                <div class="modal-body">删除后将无法恢复,请您谨慎操作!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-blue" data-dismiss="modal" @click="deleteMsg(nowIndex,nowUserID)">删除</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    
    
    
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" data-index="{{nowIndex}}" data-id="{{nowUserID}}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加新用户</h4>
                </div>
                <div class="modal-body">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label for="username" class="col-sm-2 control-label">用户名</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id='username' v-model="username" placeholder="请输入用户名">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="password" class="col-sm-2 control-label">密 码</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id='password' v-model="password" placeholder="请输入用户密码">
					    </div>
					  </div>
					</form>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="addUser()">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>




</div>


<script src="${webSiteDomain}/js/getUserList.js"></script>
<script type="text/javascript">




	$(document).ready(function() {

		//根据用户名查询一个用户
		$("button#J_select").click(function() {
			var _thisval = $('input[id=select]').val();
			$.ajax({
				type : "POST",
				url : "${webSiteDomain}/userController/getName.do",
				data : {name : _thisval},
				timeout: 5000,
				dataType: "jsonp",
				jsonp: "callback",
				beforeSend: function () {
					$('#search_row').html("正在查询…");
				},
				success : function(json) {
					if(json.Code=='0000'){
						layer.closeAll();
						swal({
							  title: "您查找的用户是："+json.Name+"<br>加密后的密文是："+json.Password,
							  text: "",
							  type: "success",
							  html:true,
							  showCancelButton: false,
							  closeOnConfirm: true
						});
					
						//console.log(json.list);
					}else if(json.Code=='-1'){
						swal({
							  title: "你查找的用户不存在！",
							  text: "",
							  type: "warning",
							  html:true,
							  showCancelButton: false,
							  closeOnConfirm: true
						});
						
						return false;
					}
					$('#search_row').html("");
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					layer.msg('出现错误，系统可能出现异常情况！');
					console.log("出现错误，系统可能出现异常情况！");

				}
			});

		});

	



		//编辑用户,获取用户数据
		$("body").on('click','.J_edit',function() {
			var _thisid = $(this).attr('id');
			//location.href='${webSiteDomain}/userController/getUserName.do?id='+_thisid;
			
			var qsData = {id:_thisid};
			$.ajax({
				type: "GET",

				async: true,
				url : "getUser.do",
				data: qsData,
				timeout: 5000,
				dataType: "jsonp",
				jsonp: "callback",
				beforeSend: function () {
					layer.msg('加载中…');
				},
				success: function(json){
					if(json.success==true){
						//----------------
						layer.open({
							type: 1,
							title:'编辑用户',
							scrollbar: false, //锁定滚动条
							skin: 'layui-layer-rim', //加上边框
							area: ['400px', '320px'], //宽高
							content: '<div class="editDiv" style="padding:20px;"><form name="form" method="post">'+
							'<input type="hidden" class="form-control" value="'+json.id+'" name="id" id="id">'+
							'<div class="form-group">'+
							'   <label for="name">用户名:</label>'+
							'   <input type="text" class="form-control" name="name" id="name" value="'+json.name+'">'+
							'</div>'+
							'<div class="form-group">'+
							'    <label for="password">密码: </label>'+
							'    <input type="text" class="form-control" name="password" id="password" value="">'+
							'</div>'+
							'<button type="button" id="J_editSubmit" class="btn btn-primary btn-block">保存修改</button>'+
							'</form></div>'
						});
						//--------------
					}else{
						layer.msg('获取用户信息失败');
						return false;
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					layer.msg('出现错误，系统可能出现异常情况！');
					console.log("出现错误，系统可能出现异常情况！");

				}
			});

		});



		//编辑用户,保存用户数据
		$("body").on('click',"button#J_editSubmit",function(){
			var id = $(this).parents('.editDiv').find('input#id').val();
			var name = $(this).parents('.editDiv').find('input#name').val();
			var password = $(this).parents('.editDiv').find("input#password").val();
			//验证
			if(name == '') {layer.msg('请输入用户名！');$("#name").focus();return false;}
			if(password == ''){layer.msg('请输入密码!');$("#password").focus();return false;}

			var qsData = {id:id,name:name, password:password};
			$.ajax({
				type: "POST",
				scriptCharset: 'utf-8',
				async: false,
				url: "updateUser.do",
				data: qsData,
				timeout: 5000,
				dataType: "jsonp",
				jsonp: "callback",
				beforeSend: function () {
					layer.msg('正在保存…');
				},
				success: function(json){
					if(json.Code=='0000'){
						layer.closeAll();
						$("tr#"+id+" td:nth-child(2)").html(json.name);
						$("tr#"+id+" td:nth-child(3)").html(json.password);
						$("tr#"+id+" td:nth-child(4) span").html(json.ipAddr);
						layer.msg('更新成功');
					}else if(json.Code=='-1'){
						layer.closeAll();
						layer.msg('更新失败');
						return false;
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					layer.msg('出现错误，系统可能出现异常情况！');
					console.log("出现错误，系统可能出现异常情况！");

				}
			});
		});







		//查询IP
		$("body").on('click','.J_getIpAddr',function() {
			var ip = $(this).attr('ip');
			var _thisdom = $(this).prev('small');
			
			getIpAddrCHINAZ(ip,_thisdom)
		});



	});
	function getIpAddrCHINAZ(ip,_thisdom){
		var ip;
		$.ajax({
			type: "GET",
			async: false,
			url: "http://ip.chinaz.com/ajaxsync.aspx?at=ipbatch",
			data: "ip=" + ip,
			timeout: 5000,
			dataType: "jsonp",
			jsonp: "callback",
			beforeSend: function () {
				_thisdom.html("(查询中…)");
			},
			success: function(data){
				//console.log(data);
				_thisdom.html("("+data[0].location+")");
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				layer.msg("查询出现错误，系统可能出现异常情况！");
				console.log("出现错误，系统可能出现异常情况！");
			}
		});
	}
	function getIpAddrIP138(ip,_thisdom){
		var ip;
		$.ajax({
			type : "GET",
			url : "http://api.ip138.com/query/?ip="+ip+"&oid=3189&mid=68063&token=a7c067c198d87bd70165ddba436a93bc",
			dataType: "jsonp",
			jsonp: "callback",
			jsonpCallback:"find",
			beforeSend: function () {
				_thisdom.html("(查询中…)");
			},
			success: function(json){
				var data = json.data;
				if(json.ret=='ok'){
					_thisdom.html("("+data+")");
				}else{
					_this.html("ERROR");
					return false;
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				layer.msg("查询出现错误，系统可能出现异常情况！");
				console.log("查询出现错误，系统可能出现异常情况！");
			}
		});
	}
</script>
