#set($page_title="上传")
<script type="text/javascript">  
      
    $(document).ready(function(){  

    	i = 1;
        $("#btn_add").on('click',function(){ 
        	var shtml = "<div id='div_"+i+"' style='display:flex;'><input name='file_"+i+"' type='file' style='float:left;'/><input type='button' value='删除'  onclick='del_2("+i+")'/></div>";
            $("#newUpload").append(shtml);  
            i = i + 1;  
        });  
        
    });  
  
    function del_2(o){  
         document.getElementById("newUpload").removeChild(document.getElementById("div_"+o));  
    }  
  
</script> 

<div style='margin:50px auto;'>
    <h1>springMVC包装类上传文件</h1>   
    <form name="userForm" action="uploading.do" enctype="multipart/form-data" method="post">  
        <div id="newUpload">  
            <div style="display:flex;"><input type="file" name="file"></div>
        </div>  
        <div style="display:flex;margin-top:10px;">
        	<input class="btn btn-xlg btn-yftdefault" type="button" id="btn_add" value="增加一行" > &nbsp;&nbsp; 
        	<button class="btn btn-xlg btn-yftblue" type="submit">上传</button>
        </div>
          
    </form> 
	
</div>
