#set($page_title="上传")
<script type="text/javascript">  
      
    $(document).ready(function(){  

    	i = 1;
        $("#btn_add").on('click',function(){ 
        	var shtml = "<div id='div_"+i+"' style='display:flex;'><input name='file_"+i+"' type='file' style='float:left;'/><input type='button' value='删除'  onclick='del_2("+i+")'/></div>";
            $("#newUpload").append(shtml);  
            i = i + 1;  
        });  
        
    });  
  
    function del_2(o){  
         document.getElementById("newUpload").removeChild(document.getElementById("div_"+o));  
    }  
</script>

<div id="box" style='margin:50px auto;'>
    <h1>springMVC包装类上传文件</h1>   
    <form name="userForm" action="uploading.do" enctype="multipart/form-data" method="post">  
        <div id="newUpload">  
            <div style="display:flex;"><input type="file" name="file"></div>
        </div>  
        <div style="display:flex;margin-top:10px;">
        	<input class="btn btn-xlg btn-yftdefault" type="button" id="btn_add" value="增加一行" > &nbsp;&nbsp; 
        	<button class="btn btn-xlg btn-yftblue" type="submit">上传</button>
        </div>
          
    </form> 
	<br>
	<table class="table table-bordered table-hover table-striped">
        <caption><h4>文件列表</h4></caption>
        <thead>
        <tr>
            <th>文件名</th>
            <th>路径</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        #foreach($file in $file_item)
		<tr>
			<td width="330">$file.name</td>
			<td>${webSiteDomain}/uploadfile/$file.name</td>
			<td>
				<button id="$file.name" type="button" class="btn btn-danger btn-xs J_delete">删除</button>
			</td>
		</tr>
		#end
        </tbody>
    </table>


	
</div>


<script type="text/javascript">
$(document).ready(function() {

	

	//删除一个用户
	$("body").on('click','.J_delete',function() {
		var _this = $(this);
		var _filename = $(this).attr('id');

		layer.confirm('您确定要删除吗？确认后将不可恢复', {btn: ['删除','取消']}, function(){
			//-------------
			$.ajax({
				type : "GET",
				url : "${webSiteDomain}/file/delete.do",
				data : {filename : _filename},
				timeout: 5000,
				dataType: "jsonp",//"xml", "html", "script", "json", "jsonp", "text".
				jsonp: "callback",
				beforeSend: function () {
					layer.msg('正在处理…');
				},
				success : function(json) {
					console.log(json);
					if(json.Code=="0000"){
						layer.msg('删除成功');
						_this.parents('tr').remove();
						
					}else if(json.Code=="-1"){
						layer.msg('删除失败');
					}else{
						layer.msg('服务器出现错误');
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					layer.msg('出现错误，系统可能出现异常情况！');
					console.log("出现错误，系统可能出现异常情况！");
				}
			});
			//------------------
		});
	});

	

});
</script>
