<!-- Bootstrap core CSS -->
<link href="${staticDomain}/framecore/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="${staticDomain}/framecore/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
<!--iCheck-->
<link href="${staticDomain}/framecore/iCheck/skins/flat/blue.css" rel="stylesheet">
<!--bootstarp select-->
<link href="${staticDomain}/framecore/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" >
<!--SweetAlert-->
<link href="${staticDomain}/framecore/sweet-alert/css/sweet-alert.css" rel="stylesheet">
<!-- 重写 bootstrap 主题样式 -->
<link href="${staticDomain}/YFT-PC-VER2.0/css/theme.css" rel="stylesheet">
<!--public css-->
<link href="${staticDomain}/YFT-PC-VER2.0/css/public.css" rel="stylesheet">
<link href="${staticDomain}/YFT-PC-VER2.0/css/header.css" rel="stylesheet">
<link href="${staticDomain}/YFT-PC-VER2.0/css/footer.css" rel="stylesheet">
<link href="${staticDomain}/YFT-PC-VER2.0/css/account.css" rel="stylesheet">



<script src="${staticDomain}/framecore/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${staticDomain}/framecore/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="${staticDomain}/framecore/bootstrap/3.3.5/js/bootstrap-hover-dropdown.min.js"></script>
<script src="${staticDomain}/framecore/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="${staticDomain}/framecore/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="${staticDomain}/framecore/bootstrap-datetimepicker/bootstrap-datetimepicker.css"/>
<script src="${staticDomain}/framecore/layer/layer.js"></script>
<!--iCheck-->
<script src="${staticDomain}/framecore/iCheck/icheck.js"></script>
<!--bootstarp select-->
<script src="${staticDomain}/framecore/bootstrap-select/js/bootstrap-select.js"></script>
<!--SweetAlert-->
<script src="${staticDomain}/framecore/sweet-alert/js/sweet-alert.js"></script>

<script src="${webSiteDomain}/js/vue-2.3.2.js"></script>
<script src="${webSiteDomain}/js/vue-resource.js"></script>